{% extends "index.html" %}
{% block body %}
<div>
    <button class="btn btn-success" style="margin-bottom:4px !important;"
        onclick="open_modal('{% url 'view_new_user' %}')">Agregar Usuario</button>
    <a class="btn btn-secondary" style="margin-bottom:4px !important;"
        href="{% url 'view_list_users_suspend' %}">Usuarios Suspendidos</a>
</div>
{% if users %}

<div class="card">
    <div class="card-header text-center" style="margin-top:4px !important;margin-bottom:4px !important;">
        <strong class="card-title" style="font-size:40px;">Usuarios Registrados</strong>
    </div>
    <div class="table order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Ciclo</th>
                    <td>Carrera</td>
                    <th>Foto</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}

                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.names}}</td>
                    <td>{{user.surnames}}</td>
                    <td>{{user.cycle}}</td>
                    <td>{{user.tecnology}}</td>
                    <td>{{user.image_user}}</td>
                    <td><a href="https://wa.me/+593{{user.phone}}/?text=Estimado estudiante le saludamos desde la biblioteca del ISTPM" target="_blank">0{{user.phone}}</a></td>
                    <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                    <td class="text-center">
                        <button class="btn btn-warning m-1"
                            onclick="open_modal_edition('{% url 'view_edit_user' user.id %}')">Editar</button>
                        <a class="btn btn-danger" href="{% url 'view_disable_user' user.id %}">Suspender</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<h1>No existen usuarios registrados!!!</h1>

{% endif %}

<div class="modal face" id="new" role="dialog">
</div>
<div class="modal face" id="edition" role="dialog">
</div>

<script type="text/javascript">
    var $ = jQuery.noConflic();
    function open_modal(url) {
        $('#new').load(url, function () {
            $(this).modal('show')
        })
    }
    function open_modal_edition(url) {
        $('#edition').load(url, function () {
            $(this).modal('show')
        })
    }
</script>
{% endblock body %}