{% extends "index.html" %}
{% block body %}
<div>
    <button class="btn btn-success" style="margin-bottom:4px !important;"
        onclick="open_modal('{% url 'view_new_user' %}')">Agregar Usuario</button>
    <a class="btn btn-warning" style="margin-bottom:4px !important;" href="{% url 'view_list_users_suspend' %}">Usuarios
        Suspendidos</a>
</div>

<div class="container">
    <div class="row p-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <form method="GET">
                <div class="row">
                    <div class="col-10 col-sm-10 col-md-11 col-lg-11">
                        <input class="form-control" type="text" name="buscar" id="buscar" placeholder="Ingrese su busqueda" value="{{request.GET.buscar}}">
                    </div>
                    <div class="col-2 col-sm-2 col-md-1 col-lg-1">
                        <button class="btn btn-primary btn-block mt-2" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% if data %}
<div class="card">
    <div class="card-header text-center" style="margin-top:4px !important;margin-bottom:4px !important;">
        <strong class="card-title" style="font-size:40px;">Resultado de Busqueda</strong>
    </div>
    <div class="table order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Ciclo</th>
                    <td>Carrera</td>
                    <th>Foto</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}

                <tr>
                    <td>{{d.username}}</td>
                    <td>{{d.names}}</td>
                    <td>{{d.surnames}}</td>
                    <td>{{d.cycle}}</td>
                    <td>{{d.tecnology}}</td>
                    <td>{{d.image_user}}</td>
                    <td><a href="https://wa.me/+593{{d.phone}}/?text=Estimado estudiante le saludamos desde la biblioteca del ISTPM"
                            target="_blank">0{{d.phone}}</a></td>
                    <td><a href="mailto:{{d.email}}">{{d.email}}</a></td>
                    <td class="text-center">
                        <button class="btn btn-warning m-1"
                            onclick="open_modal_edition('{% url 'view_edit_user' user.id %}')">Editar</button>
                        <a class="btn btn-danger" href="{% url 'view_disable_user' user.id %}">Suspender</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
<div class="container text-center">
    <h1>Realize una busqueda!!!</h1>
</div>

{% endif %}

<div class="modal face" id="new" role="dialog">
</div>
<div class="modal face" id="edition" role="dialog">
</div>

<script type="text/javascript">
    var $ = jQuery.noConflic();
    function open_modal(url) {
        $('#new').load(url, function () {
            $(this).modal('show')
        })
    }
    function open_modal_edition(url) {
        $('#edition').load(url, function () {
            $(this).modal('show')
        })
    }
</script>
{% endblock body %}