<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <h2 class="modal-title bg-warning text-center" style="color:rgb(56, 56, 56);">Usuario Editado</h2>
        {% load crispy_forms_tags %}
        <form action="{% url 'view_edit_user' object.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <!-- {{form.as_p}} -->
                {{form|crispy}}
            </div>
            <div class="modal-footer bg-warning">
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>