{% extends "index.html" %}
{% block body %}
<div>
    <button class="btn btn-success" style="margin-bottom:4px !important;"
        onclick="open_modal('{% url 'view_new_order' %}')">Agregar Pedido</button>
    <a class="btn btn-secondary" style="margin-bottom:4px !important;" href="{% url 'view_list_orders_search' %}">Buscar
        Pedido</a>
</div>
{% if orders %}

<div class="card">
    <div class="card-header text-center" style="margin-top:4px !important;margin-bottom:4px !important;">
        <strong class="card-title" style="font-size:40px;">PEDIDOS ARCHIVADOS</strong>
    </div>
    <div class="table order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Estudiante</th>
                    <th>Libro</th>
                    <th>Fecha de Entrega</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.student}}</td>
                    <td>{{order.book}}</td>
                    <td>{{order.deliver_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<h1 class="m-4">No existen pedidos archivados!!!</h1>

{% endif %}

{% endblock body %}