{% extends 'index.html' %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <p><strong style="font-size:20px;">Desea Archivar el Pedido?</strong></p>
    <h3>Esta opcion es recomendada cuando el pedido ya se ha cumplido</h3>
    <h5>Numero de pedido: {{object.id}}</h5>
    <h3>Nombre del Estudiante: {{object.user}}</h3>
    <h2>Nombre del libro: {{object.book}}</h2>
    <p style="color: black;">La fecha d entrega del libro es {{object.deliver_date}}</p>
    <button type="submit" class="btn btn-danger">Confirmar</button>
    <a class="btn btn-primary" href="{% url 'view_list_orders' %}">Cancelar</a>
</form>
{% endblock body %}