{% extends "index.html" %}
{% block body %}
<div>
    <button class="btn btn-success" style="margin-bottom:4px !important;"
        onclick="open_modal('{% url 'view_new_order' %}')">Agregar Pedido</button>
</div>
{% if orders %}

<div class="card">
    <div class="card-header text-center" style="margin-top:4px !important;margin-bottom:4px !important;">
        <strong class="card-title" style="font-size:40px;">PEDIDOS REGISTRADOS</strong>
    </div>
    <div class="table order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Estudiante</th>
                    <th>Libro</th>
                    <th>Estado</th>
                    <th>Fecha de Entrega</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}

                <tr>
                    <td>{{order.id}}</td>
                    <td>{{order.student}}</td>
                    <td>{{order.book}}</td>
                    <td>{{order.state}}</td>
                    <td>{{order.deliver_date}}</td>
                    <td class="text-center">
                        <button class="btn btn-warning m-1"
                            onclick="open_modal_edition('{% url 'view_edit_order' order.id %}')">Editar</button>
                        <a class="btn btn-danger" href="{% url 'view_delete_order' order.id %}">Eliminar</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<h1>No existen pedidos registrados!!!</h1>

{% endif %}

<div class="modal face" id="new" role="dialog">
</div>
<div class="modal face" id="edition" role="dialog">
</div>

<script type="text/javascript">
    var $ = jQuery.noConflic();
    function open_modal(url) {
        $('#new').load(url, function () {
            $(this).modal('show')
        })
    }
    function open_modal_edition(url) {
        $('#edition').load(url, function () {
            $(this).modal('show')
        })
    }
</script>
{% endblock body %}