    <div class="modal-dialog modal-fullscreen-xl-down">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">NUEVA CATEGORIA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% load crispy_forms_tags %}
            <form action="{% url 'view_new_category' %}" enctype="multipart/form-data" method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="p-4">
                        {{ form|crispy }}
                    </div>
                </div>
                <div class="modal-footer bg-secondary">
                    <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                    <button type="button" class="btn btn-danger btn-block" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>