.space{
    margin-top: 10px;
}
.color_panel_primary{
    color: black;
}
.image{
    height: 450px;
}
.visit_site{
    color: blue;
}
.text_color_indications{
    color: red;
}

@media (max-width: 600px) {
.image{
    height: 300px;
}
}
@media (min-width: 1400px) {
.image{
    height: 600px;
}
}

::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    /* display: none;  Ocultar scroll */
}

::-webkit-scrollbar-thumb {
    background: rgb(121, 128, 125);
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #e8a71b;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}