.space{
    margin-top: 10px;
}
.color_panel_primary{
    color: black;
}
.image{
    height: 450px;
}
.visit_site{
    color: blue;
}
.text_color_indications{
    color: red;
}

@media (max-width: 600px) {
.image{
    height: 300px;
}
}
@media (min-width: 1400px) {
.image{
    height: 600px;
}
}