{% extends 'index.html' %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <p><strong style="font-size:20px;">Continuar si este libro se ha prestado</strong></p>
    <h5>{{object.author}}</h5>
    <h3>{{object.title}}</h3>
    <p style="color: black;">El libro pertenece a la categoria de {{object.category}}</p>
    <button type="submit" class="btn btn-danger">Confirmar</button>
    <a class="btn btn-primary" href="{% url 'view_list_books' %}">Cancelar</a>
</form>
{% endblock body %}