{% extends "index.html" %}
{% block body %}
<div>
    <button class="btn btn-success" style="margin-bottom:4px !important;"
        onclick="open_modal('{% url 'view_new_book' %}')">Agregar Libro</button>
    <a class="btn btn-secondary" style="margin-bottom:4px !important;" href="{% url 'view_list_books_search' %}">Buscar
        Libro</a>
</div>
{% if books %}

<div class="card">
    <div class="card-header text-center" style="margin-top:4px !important;margin-bottom:4px !important;">
        <strong class="card-title" style="font-size:40px;">LIBROS AGOTADOS</strong>
    </div>
    <div class="table order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Portada</th>
                    <th>Cantidad</th>
                    <th>Prestados</th>
                    <td>Categoria</td>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.image_book}}</td>
                    <td>{{book.stock}}</td>
                    <td>{{book.borrowed}}</td>
                    <td>{{book.category}}</td>
                    <td class="text-center m-1">
                        <button class="btn btn-warning"
                            onclick="open_modal_edition('{% url 'view_edit_book' book.id %}')">Editar</button>
                        <a class="btn btn-success disabled" href="{% url 'view_enable_book' book.id %}">Marcar Como Devuelto</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<h1 class="mt-4">No existen registros de libros agotados!!!</h1>

{% endif %}

<div class="modal face" id="new" role="dialog">
</div>
<div class="modal face" id="edition" role="dialog">
</div>

<script type="text/javascript">
    var $ = jQuery.noConflic();
    function open_modal(url) {
        $('#new').load(url, function () {
            $(this).modal('show')
        })
    }
    function open_modal_edition(url) {
        $('#edition').load(url, function () {
            $(this).modal('show')
        })
    }
</script>
{% endblock body %}