{% extends "index.html" %}
{% block body %}
<div>
    <button class="btn btn-success" style="margin-bottom:4px !important;"
        onclick="open_modal('{% url 'view_new_book' %}')">Agregar Libro</button>
</div>

<div class="container">
    <div class="row p-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <form method="GET">
                <div class="row">
                    <div class="col-10 col-sm-10 col-md-11 col-lg-11">
                        <input class="form-control" type="text" name="buscar" id="buscar"
                            placeholder="Ingrese su busqueda" value="{{request.GET.buscar}}">
                    </div>
                    <div class="col-2 col-sm-2 col-md-1 col-lg-1">
                        <button class="btn btn-primary btn-block mt-2" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% if data %}

<div class="card">
    <div class="card-header text-center" style="margin-top:4px !important;margin-bottom:4px !important;">
        <strong class="card-title" style="font-size:40px;">Resultado de Busqueda</strong>
    </div>
    <div class="table order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Portada</th>
                    <td>Categoria</td>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for b in data %}

                <tr>
                    <td>{{b.title}}</td>
                    <td>{{b.author}}</td>
                    <td>{{b.image_book}}</td>
                    <td>{{b.category}}</td>
                    <td class="text-center m-1">
                        <button class="btn btn-warning"
                            onclick="open_modal_edition('{% url 'view_edit_book' b.id %}')">Editar</button>
                        <a class="btn btn-danger" href="{% url 'view_delete_book' b.id %}">Eliminar</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<div class="container text-center">
    <h1>Realize una busqueda!!!</h1>
</div>

{% endif %}

<div class="modal face" id="new" role="dialog">
</div>
<div class="modal face" id="edition" role="dialog">
</div>

<script type="text/javascript">
    var $ = jQuery.noConflic();
    function open_modal(url) {
        $('#new').load(url, function () {
            $(this).modal('show')
        })
    }
    function open_modal_edition(url) {
        $('#edition').load(url, function () {
            $(this).modal('show')
        })
    }
</script>
{% endblock body %}