{% extends "index.html" %}
{% block body %}
<div>
    <button class="btn btn-success" style="margin-bottom:4px !important;"
        onclick="open_modal('{% url 'view_new_student' %}')">Agregar Estudiante</button>
</div>
{% if students %}

<div class="card">
    <div class="card-header text-center" style="margin-top:4px !important;margin-bottom:4px !important;">
        <strong class="card-title" style="font-size:40px;">ESTUDIANTES REGISTRADOS</strong>
    </div>
    <div class="table order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Ciclo</th>
                    <td>Carrera</td>
                    <th>Foto</th>
                    <th>Estado</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}

                <tr>
                    <td>{{student.dni}}</td>
                    <td>{{student.names}}</td>
                    <td>{{student.surnames}}</td>
                    <td>{{student.cycle}}</td>
                    <td>{{student.tecnology}}</td>
                    <td>{{student.image_student}}</td>
                    <td>{{student.state}}</td>
                    <td>{{student.phone}}</td>
                    <td>{{student.email}}</td>
                    <td class="text-center">
                        <button class="btn btn-warning"
                            onclick="open_modal_edition('{% url 'view_edit_student' student.id %}')">Editar</button>
                        <a class="btn btn-danger" href="{% url 'view_delete_student' student.id %}">Eliminar</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<h1>No existen estudiantes registrados!!!</h1>

{% endif %}

<div class="modal face" id="new" role="dialog">
</div>
<div class="modal face" id="edition" role="dialog">
</div>

<script type="text/javascript">
    var $ = jQuery.noConflic();
    function open_modal(url) {
        $('#new').load(url, function () {
            $(this).modal('show')
        })
    }
    function open_modal_edition(url) {
        $('#edition').load(url, function () {
            $(this).modal('show')
        })
    }
</script>
{% endblock body %}